// General
$base-border-radius: 0;
$form-border-radius: 0;
$navigation-border-radius: 0;

// Footer
$footer-vertical-padding: 10px;
$footer-background: $chill-dark-gray;
$footer-disclaimer-color: white;

// Navigation
$navigation-background: $dark-grey;
$navigation-first-padding-top: 0;
$navigation-last-padding-bottom: 0;
$navigation-color: white;
$navigation-color-hover: white;
$navigation-search-padding: 17px 0 0;
$navigation-border-bottom: none;

// Form
$form-border-color: $black;
$form-border-color-hover: $black;
$form-border-color-focus: $black;
$form-border-size: 1px;

// Table
$table-head-bg-color: unset;
$table-head-text-color: $chill-blue;

$table-body-tr-bg-color-even: $chill-llight-gray;
$table-body-tr-bg-color-odd: $white;
$table-body-td-border: 1px solid $black;
$table-body-td-text-align: left;

// Tabs
$tabs-nav-margin-bottom: 0.2em;
$tabs-nav-bg-color: $yellow;
$tabs-nav-text-color: $blue;
$tabs-new-border: none;
$tabs-nav-hover-border: none;
$tabs-nav-hover-text-color: $blue;
$tabs-nav-font-family: "open_sansbold";
$tabs-nav-padding: 0.3em 0.3em 0.3em 0.6em;
