{#
 * Copyright (C) 2014-2015, Champs Libres Cooperative SCRLFS, 
 <info@champs-libres.coop> / <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {{ 'Login to %installation_name%' | trans({ '%installation_name%' : installation.name } ) }}
        </title>
        <link rel="shortcut icon" href="/bundles/chillmain/img/favicon.ico" type="image/x-icon">
        {% stylesheets  output="css/login.css" filter="cssrewrite"
           
            "bundles/chillmain/fonts/OpenSans/OpenSans.css" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            body {
                background-color: #333;
                color: white;
                text-align: center;
            }

            #content {
                position: relative;
                height: 90%;
                padding-top: 10%;
            }

            #content:before {
               bottom: 0;
               content: "";
               left: 0;
               opacity: 0.2;
               position: absolute;
               right: 0;
               top: 0;
               z-index: -1;
               background-image: url("/bundles/chillmain/img/background/desert.jpg");
               background-attachment: fixed;
               background-repeat: no-repeat;
               background-size: cover;
               background-position: center;
            }

            label {
                width : 15em;
                text-align: right;
                display: inline-block;
                font-family: 'open_sanslight';
                padding-right: 5px;
            }
            input {
                
            }
            form {
                
            }
            button {
                margin-left: 15em;
                margin-top: 1em;
                background-color: #df4949;
                border: medium none;
                border-radius: 0;
                box-shadow: none;
                color: #fff;
                padding: 4px 8px;
                font-family: 'open_sanslight';
            }
        </style>
    </head>
    <body>
        <div id="content">
            <img class="logo" src="/bundles/chillmain/img/logo-chill-outil-accompagnement_white.png">

            <p>{{ error|trans }}</p>

            <form method="POST" action="{{ path('login_check') }}">
                <label for="_username">{{ 'Username'|trans }}</label>
                <input type="text" name="_username" value="{{ last_username }}" />
                <br/>
                <label for="_password">{{ 'Password'|trans }}</label>
                <input type="password" name="_password" />
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                <br/>
                <button type="submit" name="login">{{ 'Login'|trans }}</button>

            </form>
        </div>
    </body>
</html>

